body {
    /* background-image: url('data/bg.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.card {
    width: 16rem;
    height: calc(18rem * 1.414);
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: inline-block;
    vertical-align: top;
    background-color: black;
    /* Set background color to black */
    color: white;
    /* Set font color to white */
    margin-bottom: 4rem;
    margin-right: 4rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
    max-height: calc(18rem * 1.414 - 40px);
    object-fit: contain;
    padding: 0;
    margin: 0 auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s;
}

.card:hover .card-body {
    opacity: 1;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    cursor: pointer;

    max-height: 2.5rem;
    text-transform: capitalize;
    margin-top: 0.35rem;
    text-decoration: none !important;
}

.card-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    color: inherit;
}

#nesCardContainer .card,
#sega .card {
    height: calc(16rem * 11 / 8);
}

#snesCardContainer .card,
#n64CardContainer .card,
#psx .card {
    height: calc(16rem * 2 / 3);
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: #ff0000;
}

body {
    background-color: #ADD8E6;
    background-image:
        linear-gradient(90deg, rgba(255, 255, 255, .2) 50%, transparent 50%),
        linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%);
    background-size: 30px 30px;
}

.center-text {
    text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    padding-bottom: 60px;
    /* Adjust this value based on your footer's height */
}

.footer {
    position: sticky;
    bottom: 0;
    background-color: #f8f9fa;
    /* Light gray background color */
    padding: 5px 0;
}